#root {
    max-width: 100%;
    text-align: center;
    width: 10006px;
}

.main-container {
    align-content: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.polls-container {
    flex: 1;
    padding: 20px;

}

.spacer {
    height: 40px;
}
