.create-poll-button {
    background-color: #365FB7;
    color: #DEE0E3;
    border: none;
    width: 100%;
    height: 100%;
    min-height: 75px;
    min-width: 200px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}

    .create-poll-button:hover {
        background-color: #6b80c7;
        transform: scale(1.2);
    }
