.header {
    position: fixed;
    top: 0;
    width: 98%;
    
    display: flex;
    justify-content: space-between; /* Ensures left and right alignment */
    align-items: center;
    padding: 10px 20px;
    
    z-index: 1000;
}

.header-title {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.home-icon{
    padding: 5px;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #37383e;
    border-radius: 10px;
}
.home-icon:hover{
    transform: scale(1.15);
}

.header-icon{
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #37383e;
    border-radius: 10px;
}
.header-icon:hover{
    transform: scale(1.15);
}


.header-left {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    gap: 8px; /* Adds space between the image and the title */
    cursor: pointer;
    transition: transform 0.3s ease;
}
.header-left:hover{
    transform: scale(1.15);
}


.header-right {
    display: flex;
    align-items: center;
}
