.header {
    /* top: 0; */
    /* width: 98%; */
    display: flex;
    justify-content: space-between; /* Ensures left and right alignment */
    align-items: center;
    padding: 1rem 4rem;
    /* z-index: 1000; */
    /* margin-bottom: 2rem; */
}

.header-title {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.bell-icon {
    padding: 5px;
    
    cursor: pointer;
    transition: transform 0.3s ease;
}
.bell-icon:hover {
    transform: scale(1.15);
}

.home-icon{
    padding: 5px;
    /* margin-right: 15px; */
    cursor: pointer;
    transition: transform 0.3s ease;
}
.home-icon:hover{
    transform: scale(1.15);
}

.header-icon{
    padding: 5px;
    /* margin-right: 20px; */
    cursor: pointer;
    transition: transform 0.3s ease;
}
.header-icon:hover{
    transform: scale(1.15);
}


.header-left {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    gap: 8px; /* Adds space between the image and the title */
    cursor: pointer;
    transition: transform 0.3s ease;
}
.header-left:hover{
    transform: scale(1.15);
}


.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
