.header {
    position: fixed;
    top: 0;
    width: 98%;
    background-color: #37383e;
    display: flex;
    justify-content: space-between; /* Ensures left and right alignment */
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header-title {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.home-icon{
    padding-right: 10px;
}
.header-icon{
    padding-right: 20px;

}

.header-left {
    flex-grow: 1; /* Pushes everything else to the right */
}

.header-right {
    display: flex;
    align-items: center;
}
