.suggestion-card {
    
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
}

/* .suggestion-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   
} */

.suggestion-card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.suggestion-card-text {
    font-size: 1.2rem;
    
}

.suggestion-card-buttons{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 10px;
}

.deny-icon,
.accept-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

/* add media query */


@media(max-width: 350px){
    .suggestion-card-buttons{
        display: flex;
        flex-direction: column;
        
    }
    
}