.suggestion-card {
    display: flex;
    justify-content: space-between; /* Push buttons to the right */
    align-items: center; /* Keep items vertically centered */
    gap: 1rem;
    cursor: pointer;
    padding: 10px;
    flex-wrap: wrap; /* Allow wrapping when needed */
}

.suggestion-card div:first-child {
    flex: 1; /* Allow text to take remaining space */
    min-width: 0; /* Ensures text does not overflow */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

/* .suggestion-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   
} */

.suggestion-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

.suggestion-card-text {
    font-size: 1.2rem;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.suggestion-name {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.suggestion-card-buttons{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 10px;
}

.deny-icon,
.accept-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

/* add media query */
@media (max-width: 500px) {
    .suggestion-card-buttons {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
}

@media(max-width: 350px){
    .suggestion-card-buttons{
        display: flex;
        flex-direction: column;
        
    }
    
}