.noti-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: calc(100vh - 250px);
    overflow-y: scroll;
    padding: 1rem 2rem;
}

.noti-container::-webkit-scrollbar { display: none; }

.noti-header {
    margin-bottom: 5px;
    font-weight: 300;
}

.noti-column { width: 100%; }

.deny-icon {
    background: #b22222;
    border-radius: 20%;
    padding: 5px;
    transition: transform 0.3s ease;
}

.deny-icon:hover{
    transform: scale(1.15);
}

.accept-icon {
    background: #228b22;
    border-radius: 20%;
    padding: 5px;
    transition: transform 0.3s ease;
}

.accept-icon:hover{
    transform: scale(1.15);
}

@media (max-width: 600px) {
    .noti-container {
        padding: 1rem 0rem;
    }
}

