.poll-details-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.poll-details-card {
    /* background-color: #2F3457; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    height: auto;
    color: white;
}

.poll-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

.poll-limit {
    background-color: #5862a3;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: inline-block;
    padding: 5px 10px;
    white-space: nowrap;
    width: fit-content;
    max-width: 100%;
    margin-bottom: 15px;
}

.poll-choice {
    display: block;
    margin-top: 5px;
    width: 100%;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    background-color: #365FB7;
}

    .poll-choice:hover {
        background-color: #6b80c7;
    }

    .poll-choice:first-child {
        margin-top: 30px;
    }

.poll-results {
    border-radius: 10px;
}

.result-container {
    position: relative;
    text-align: left;
    background-color: #444;
    color: white;
    border-radius: 5px;
    overflow: hidden;
}

.result-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #92a3c7; /* Default light blue */
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
}

.selected-bar {
    background-color: #5075c4 !important;
}

.result-container p {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

.timer-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.timer-background {
    fill: none;
    stroke: #444;
    stroke-width: 6;
}

.timer-progress {
    fill: none;
    stroke-width: 6;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset 1s linear, stroke 1s linear;
}

.timer-flash {
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}



.poll-icon-vote {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.2rem;
}

    .poll-icon-vote:hover {
        cursor: pointer;
    }

.generate-pdf-button {
    background-color: #365FB7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

    .generate-pdf-button:hover {
        background-color: #0056b3;
    }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
.modal-buttons {
    margin-top: 10px;
}
.modal-buttons button {
    margin: 5px;
}