.poll-link-page {
    justify-content: center;
    text-align: center;

}

.poll-link-page button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #365FB7;
}

.go-poll-btn{
    padding-right: 10px;
    background-color: #365FB7;
}


.qr-code {

    padding: 20px;
}

@media(max-width: 600px){
    h2{
        font-size: large;
    }
