.user-profile {
    padding: 16px;
}

.poll-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.headingtext {
    padding: 20px;
    margin-bottom: 0px;
}

.tabs {
    
    display: flex;
}

.tabs button {
    padding: 10px 15px;
    border: none;
    background-color: #afb0b2;
    cursor: pointer;
    transition: 0.3s;
    margin:5px;
    margin-bottom: 15px;
}

.tabs button.active {
    background-color: #365FB7;
    color: white;
    font-weight: bold;
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

.title-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    position: sticky;
}

.poll-status{
    display: flex;
    
    border-radius: 10px;
    margin-bottom: 5px;

}

.poll-status-btn{
    background-color: #afb0b2;
    margin: 0px;
    padding: 4px;
    cursor: pointer;
    font-size: small;

}

.poll-status button.active{
    background-color: #37383e;
    border-color: #37383e;
    padding: 5px;
    border: none;
    outline: none;
    outline-style:none;
}
