.poll-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - 250px);
    overflow-y: scroll;
    /* overflow-y: scroll; */
    /* height: 100svh; */
}

.poll-list::-webkit-scrollbar {
    display: none;
}

.nav-tabs-status{
    display: flex;
    justify-content: space-between;
}

.headingtext{
    margin-bottom: 1rem;
    font-weight: 300;
}

/* .css-1qb8o-MuiToggleButtonGroup-root{
    margin-bottom: 10px;
}

.css-1qb8o-MuiToggleButtonGroup-root .MuiToggleButtonGroup-firstButton{
    color: white !important;
    font-size: 12px;
    background-color: #37383e !important;
    min-width: 75px;
}

.css-1qb8o-MuiToggleButtonGroup-root .MuiToggleButtonGroup-lastButton{
    color: white !important;
    font-size: 12px;
    background-color: #37383e !important;
    min-width: 75px;
}

.css-w4gp61-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    background-color: #365FB7!important;
    color: white !important; 
    font-size: 12px;
    min-width: 75px;
}

.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    color: white ;
    font-size: 15px;
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root{
    color: white!important;
    
} */
.button-div{
    display: flex;
    justify-content: space-between;
}

.tabs button.active {
    background-color: #365FB7;
    color: white;
    font-weight: bold;
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

.title-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
    min-height: 100px;
    position: sticky;
    width: 100%;
}

.poll-status{
    display: flex;
    border-radius: 10px;
    margin-bottom: 5px;

}

.poll-status-btn{
    background-color: #afb0b2;
    margin: 0px;
    padding: 4px;
    cursor: pointer;
    font-size: small;

}

.poll-status button.active{
    background-color: #37383e;
    border-color: #37383e;
    padding: 5px;
    border: none;
    outline: none;
    outline-style:none;
}

@media (max-width: 600px) {
    h1{
        font-size: 1.8rem;
    }
    .title-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .css-1qb8o-MuiToggleButtonGroup-root {
        margin-bottom: 20px;
    }
    
    .poll-list{
        max-height: calc(100vh - 300px);
        overflow-x: hidden;
    }
  }